<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">tags</div>
    <ul class="categories">
    	<li class="categories__item"> <a href="{{ '/about/' | prepend: site.baseurl }}"> about </a></li>
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
    </ul>
</div>
