<div class="about">
    <div class="about__devider">*****</div>
    <div class="about__text">
        Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
        on <strong>{{ page.date | date: "%d %B %Y" }}</strong>
    </div>
    <ul class="categories">
    	<li class="categories__item"> <a href="{{ '/about/' | prepend: site.baseurl }}"> about </a></li>
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
    </ul>
</div>